<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8">
  <style>
    .v-application td > p:last-child {
        margin-bottom: 0px;
    }
    .v-toolbar__extension {
        padding: 0px;
    }
    [v-cloak] > * { display:none; }
    [v-cloak]::before {
        padding: 20px;
        content: "Loading...";
        display: block;
        font-family: Roboto,sans-serif;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app v-cloak>
       <v-app-bar color="blue darken-3" dark app extended>
            <v-toolbar-title>Calculate ARR for <strong>{{ name }}</strong></v-toolbar-title>
            <template v-slot:extension>
            <v-toolbar light dense flat>
                Is your Annual Recurring Revenue (ARR) business healthy?
                <v-spacer></v-spacer>
                <div style="width:180px;position:relative;margin-top:20px">
                    <v-select
                        v-model="mode"
                        :items='[{"text":"View Mode","value":"view","icon":"mdi-eye"},{"text":"Edit Mode","value":"edit","icon":"mdi-pencil"},{"text":"Report Mode","value":"report","icon":"mdi-chart-bar"}]'
                        label=""
                        @change="changeMode"
                        dense
                    >
                    <template v-slot:selection="data">
                        <v-icon class="mr-2">{{ data.item.icon }}</v-icon> {{ data.item.text }}
                    </template>
                    <template v-slot:item="data">
                        <v-icon class="mr-2">{{ data.item.icon }}</v-icon> {{ data.item.text }}
                    </template>
                    </v-select>
                </div>
            </v-toolbar>
            </template>
      </v-app-bar>
      <v-content class="mt-5" style="background:#fafafa !important">
        <v-container v-show="mode == 'view' || mode == 'edit'" class="grey lighten-5">
            <v-row no-gutters>
            <v-col sm="12" md="2" class="px-2">
                <h2>Income</h2>
                <template v-if="mode == 'view'">
                    <v-select
                        :items='version_options'
                        v-model="selected_version"
                        label="Version"
                        value="Latest"
                        @input="changeVersion"
                        dense
                    ></v-select>
                    <v-text-field v-model="version.income" label="Year of revenue" prefix="$" readonly></v-text-field>
                    <v-text-field
                        v-model="version.date_start"
                        label="Start date"
                        prepend-icon="mdi-calendar"
                        readonly
                    ></v-text-field>
                    <v-text-field
                        v-model="version.date_end"
                        label="End date"
                        prepend-icon="mdi-calendar"
                        readonly
                    ></v-text-field>
                    <v-list dense light color="grey lighten-5">
                            <v-subheader>ACTIONS</v-subheader>
                            <v-list-item @click="exportJSON" dense>
                                <v-list-item-action style="margin-right:4px">
                                    <v-icon small>mdi-content-save</v-icon>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>Export</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                </template>
                <template v-if='mode == "edit"'>
                <v-text-field v-model="name" label="Business Name"></v-text-field>
                <v-select
                    :items='version_options'
                    v-model="selected_version"
                    label="Version"
                    value="Latest"
                    @input="changeVersion()"
                    dense
                ></v-select>
                <v-text-field v-model="version.income" label="Year of revenue" prefix="$"></v-text-field>
                <v-menu
                    v-model="menu_startdate"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="version.date_start"
                        label="Start date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker v-model="version.date_start" @input="menu_startdate = false"></v-date-picker>
                </v-menu>
                <v-menu
                    v-model="menu_enddate"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="version.date_end"
                        label="End date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker v-model="version.date_end" @input="menu_enddate = false; saveVersion()"></v-date-picker>
                </v-menu>
                    <v-list dense light color="grey lighten-5">
                        <v-subheader>ACTIONS</v-subheader>
                        <v-list-item @click="exportJSON" dense>
                            <v-list-item-action style="margin-right:4px">
                                <v-icon small>mdi-content-save</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Export</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-subheader>SELECTED VERSION</v-subheader>
                        <v-list-item @click="newCategory" dense>
                            <v-list-item-action style="margin-right:4px">
                                <v-icon small>mdi-plus-box</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>New Category</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item @click="sortByName" dense>
                            <v-list-item-action style="margin-right:4px">
                                <v-icon small>mdi-sort-alphabetical</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Sort Expenses</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item @click="duplicateVersion" dense>
                            <v-list-item-action style="margin-right:4px">
                                <v-icon small>mdi-content-copy</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Duplicate Version</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item @click="deleteVersion" dense>
                            <v-list-item-action style="margin-right:4px">
                                <v-icon small>mdi-delete</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Delete Version</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </template>
            </v-col>
            <v-col sm="12" md="8" class="px-3">
                <h2>Current Fixed Recurring Expenses</h2>
                    <div v-for="type in expensesTypes">
                        <p class="ma-3">&nbsp;</p>
                        <v-data-table
                            :headers='[{text:"Product",value:"product",width:"300px"},{"text":"Quantity","value":"quantity"},{"text":"Price","value":"price"},{"text":"Total","value":"total"}]'
                            :items="version.expenses"
                            :custom-filter="filterType"
                            :custom-sort="customSort"
                            :search='type'
                            :items-per-page="-1"
                            hide-default-footer
                            must-sort
                            dense
                            class="elevation-1"
                            style="position:relative"
                            v-if="mode == 'view'"
                        >
                        <template v-slot:top="{ items }">
                            <div style="position:absolute;top:-25px;width:100%;">
                                <v-layout>
                                    <v-flex :class="'type-'+type"></a>{{ type }}</v-flex>
                                    <v-flex class="text-right">
                                        <small>{{ items.length }} expenses totaling</small> &nbsp; <strong>${{ total(items) | formatLargeNumbers }}</strong>
                                    </v-flex>
                                </v-layout>
                            </div>
                        </template>
                        <template v-slot:body="{ items }">
                        <tbody>
                            <tr v-for="item in items" :key="item.name">
                            <td v-html="compiledMarkdown( item.Product )"></td>
                            <td>{{ item.Quantity }}</td>
                            <td>{{ item.Price }}</td>
                            <td>{{ item.Total }}</td>
                            </tr>
                        </tbody>
                        </template>
                        </v-data-table>
                        <v-data-table
                            :headers='[{text:"Product",value:"product",width:"300px"},{"text":"Type","value":"type",sortable:false},{"text":"Quantity","value":"quantity"},{"text":"Price","value":"price"},{"text":"Total","value":"total"},{"text":"","value":"actions",sortable:false}]'
                            :items="version.expenses"
                            :custom-filter="filterType"
                            :custom-sort="customSort"
                            :search='type'
                            :items-per-page="-1"
                            hide-default-footer
                            must-sort
                            dense
                            class="elevation-1"
                            style="position:relative"
                            v-if="mode == 'edit'"
                        >
                            <template v-slot:top="{ items }">
                                <div style="position:absolute;top:-25px;width:100%;">
                                    <v-layout>
                                        <v-flex :class="'type-'+type">{{ type }}</v-flex>
                                        <v-flex class="text-right">
                                            <small>{{ items.length }} expenses totaling</small> &nbsp; <strong>${{ total(items) | formatLargeNumbers }}</strong>
                                        </v-flex>
                                    </v-layout>
                                </div>
                            </template>
                            <template v-slot:footer="{ items }">
                                <div style="position: absolute;bottom: -39px;width: 100%;right: 17px;">
                                    <v-layout>
                                    <v-flex class="text-right">
                                        <v-btn icon @click="addExpense( type )"><v-icon>mdi-plus-circle</v-icon></v-btn>
                                    </v-flex>
                                    </v-layout>
                                </div>
                            </template>
                            <template v-slot:item.product="{ item }">
                                <v-text-field label="" v-model="item.Product" :value="item.Product" height="18" style="font-size: 12px;letter-spacing: -0.4px;"></v-text-field>
                            </template>
                            <template v-slot:item.quantity="{ item }">
                                <v-text-field label="" v-model="item.Quantity" @input="calculateTotal( item )" :value="item.Quantity" type="number" height="18" style="width:42px"></v-text-field>
                            </template>
                            <template v-slot:item.price="{ item }">
                                <v-text-field label="" v-model="item.Price" @input="calculateTotal( item )" :value="item.Price" height="18" style="width:78px"></v-text-field>
                            </template>
                            <template v-slot:item.type="{ item }">
                                <v-select label="" :items="expensesTypes" v-model="item.Type" :value="item.Type" dense height="18" style="width:96px"></v-select>
                            </template>
                            <template v-slot:item.total="{ item }">
                                {{ item.Total }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-btn icon @click="removeExpense( item )"><v-icon>mdi-delete</v-icon></v-btn>
                            </template>
                        </v-data-table>
                        <p class="ma-3">&nbsp;</p>
                    </div>
            </v-col>
            <v-col sm="12" md="2" class="px-3">
                <h2>Results</h2>
                <template v-if="income > 0">
                <p><small>Income: ${{ income | formatLargeNumbers }} <br />Expenses: ${{ total( version.expenses ) | formatLargeNumbers }}</small></p>
                    <div v-if="+income > +total( version.expenses )">
                        <p><small>Revenue</small><br /><span class="green--text">+${{ ( income - total( version.expenses ) ).toFixed(2) | formatLargeNumbers }} / year</span></p>
                        <v-divider class="mb-3"></v-divider>
                        <p class="green--text">Healthy 👍</p>
                    </div>
                    <div v-else class="red--text">
                        Unhealthy<br />👎
                    </div>
                </template>
                <a ref="export_json" href="#"></a>
            </v-flex>
            </v-layout>
        </v-container>
        <v-container v-show="mode == 'report'" fill-height>
            <v-layout>
            <v-row>
                <v-col sm="12" class="px-2">
                    <h2>Report</h2>
                    <div id="chart"></div>
                </v-col>
            </v-row>
            </v-layout>
        </v-container>
      </v-content>
      <v-footer>
        <v-col class="text-center" cols="12">
           <small>Made with ❤️ by <a href="https://austinginder.com" target="_blank">Austin Ginder</a> code on <a href="https://github.com/anchorhost/calculate-arr/">Github</a></small>
        </v-col>
        </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const months = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    new Vue({
      el: '#app',
      data: {
        mode: "view",
        calculate_arr_version: "1.2",
        menu_startdate: false,
        menu_enddate: false,
        name: "",
        selected_version: 0,
        version_options: [],
        version: {},
        versions: [],
      },
      methods: {
        sortByName() {
            this.version.expenses.sort((a, b) => (a.Product.toLowerCase().replace(/\[/gi, '') > b.Product.toLowerCase().replace(/\[/gi, '') ) ? 1 : -1);
        },
        total( items ) {
            total = 0;
            items.map( e => e.Total ).forEach( i => {
                total = total + +i.replace(/\$/gi, '').replace(/\,/gi, '');
            });
            return total.toFixed(2);
        },
        newCategory() {
            new_category = prompt("Enter new category:")
            if ( new_category ) {
                this.version.expenses.push( {"Product":"","Type": new_category ,"Price":"$0","Quantity":1,"Total":"$0"})
                setTimeout(() => {
                    this.$vuetify.goTo(".type-"+new_category);
                }, 1000);
            }
        },
        addExpense( type ) {
            this.version.expenses.push( {"Product":"","Type": type ,"Price":"$0","Quantity":1,"Total":"$0"})
        },
        removeExpense( item ) {
            this.version.expenses = this.version.expenses.filter( e => e != item );
        },
        calculateTotal( item ) {
            item.Total = "$" + (item.Quantity * item.Price.replace(/\$/gi, '').replace(/\,/gi, '')).toFixed(2);
        },
        deleteVersion() {
            should_proceed = confirm("Delete this version?");
            if ( ! should_proceed ) {
                return;
            }
            this.versions.splice( this.selected_version, 1 );
            this.version = this.versions[0];
            this.selected_version = 0;
            this.populateVersions();
        },
        duplicateVersion() {
            this.versions.unshift( JSON.parse(JSON.stringify( this.versions[ this.selected_version ] ) ) );
            this.version = this.versions[0];
            this.selected_version = 0;
            this.populateVersions();
        },
        changeVersion() {
            this.version = this.versions[ this.selected_version ];
        },
        saveVersion() {
            this.versions[ this.selected_version ] = JSON.parse(JSON.stringify( this.version  ) );
            this.populateVersions();
        },
        groupBy(xs, key) {
            return xs.reduce(function(rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x);
                return rv;
            }, {});
        },
        filterType( value, search, item ) {
            return item.Type == search
        },
        customSort(items, index, direction ) {
            items.sort((a, b) => {
                if (index.includes("product")) {
                    if ( direction.includes(true) ) {
                        return (a.Product.toLowerCase().replace(/\[/gi, '') > b.Product.toLowerCase().replace(/\[/gi, '') ) ? 1 : -1
                    } else {
                        return (a.Product.toLowerCase().replace(/\[/gi, '') < b.Product.toLowerCase().replace(/\[/gi, '') ) ? 1 : -1
                    }
                }
                if (index.includes("quantity")) {
                    if ( direction.includes(true) ) {
                        return a.Quantity - b.Quantity
                    } else {
                        return b.Quantity - a.Quantity
                    }
                }
                if (index.includes("price")) {
                    if ( direction.includes(true) ) {
                        return +a.Price.replace(/\,/gi, '').replace(/\$/gi, '') - +b.Price.replace(/\,/gi, '').replace(/\$/gi, '')
                    } else {
                        return +b.Price.replace(/\,/gi, '').replace(/\$/gi, '') - +a.Price.replace(/\,/gi, '').replace(/\$/gi, '')
                    }
                }
                if (index.includes("total")) {
                    if ( direction.includes(true) ) {
                        return +a.Total.replace(/\,/gi, '').replace(/\$/gi, '') - +b.Total.replace(/\,/gi, '').replace(/\$/gi, '')
                    } else {
                        return +b.Total.replace(/\,/gi, '').replace(/\$/gi, '') - +a.Total.replace(/\,/gi, '').replace(/\$/gi, '')
                    }
                }
            });
            return items;
        },
        exportJSON() {
            this.$refs.export_json.download = "data.json";
            this.$refs.export_json.href = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify({
                name: this.name,
                versions: this.versions
            }, null, 2));
            this.$refs.export_json.click();
        },
        populateVersions() {
            this.version_options = this.versions.map( ( v, i ) => {
                year = v.date_end.substring( 0, 4)
                month_index = new Date( v.date_end ).getMonth() + 1
                if ( month_index == 12 ) {
                    month_index = 0
                    year++
                }
                month = months[month_index]
                date_name = `${month} ${year} Budget`
                item = { value: i, text: date_name }
                return item
            })
        },
        compiledMarkdown( string ) {
            return marked(string).replace(/<a href="/gi, '<a target="_blank" href="');
        },
        changeMode() {
            if( this.mode == "report" ) {
                this.generateChartData();
            }
        },
        generateChartData() {
            all_expenses = []
            data = { expenses: [], revenue: [] }
            this.versions.forEach( v => {
                data.expenses.push( ( this.total ( v.expenses ) ) )
                data.revenue.push( parseFloat( v.income.replace(/\,/gi, '').replace(/\$/gi, '') ) )
            });
            chart_data = {
                labels: this.version_options.map( v => v.text ).reverse(),
                datasets: [
                    { name: "Revenue", values: data.revenue.reverse() },
                    { name: "Expenses", values: data.expenses.reverse() }
                ]
            }
            setTimeout(() => {
                let chart = new frappe.Chart( "#chart", {
                    data: chart_data,
                    type: 'bar',
                    colors: ['#2196f3', '#1565c0'],
                    height: 250,
                    tooltipOptions: {
                        formatTooltipY: d => "$" + this.$options.filters.formatLargeNumbers( d ),
                    }
                });
            }, 1000);   
        }
      },
      filters: {
        formatLargeNumbers: function (number) {
            if ( isNaN(number) || number == null ) {
                return null;
            } else {
                return number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            }
        },
      },
      mounted() {
        fetch('data.json')
            .then(r => r.json())
            .then(json => {
                if ( json.name ) {
                    this.name = json.name
                }
                if ( json.versions ) {
                    this.versions = json.versions
                    this.version = this.versions[0];
                    this.populateVersions();
                }
            })
      },
      computed: {
        income() {
            if ( typeof this.version.income == 'string' ) {
                return this.version.income.replace(/\,/gi, '')
            }
        },
        expensesByType() {
            if ( typeof this.version.expenses == 'object' ) {
                return this.groupBy( this.version.expenses, 'Type' );
            }
            return [];
        },
        expensesTypes() {
            return Object.keys( this.expensesByType ).sort();
        }
      },
      vuetify: new Vuetify(),
    })
  </script>
</body>
</html>